name: CI Pipeline

on:
  push:
    branches:
      - develop
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t devops-demo .

      - name: Run container
        run: docker run -d -p 8080:80 devops-demo

      - name: Wait for app
        run: sleep 5

      - name: Health check
        run: curl --fail http://localhost:8080/health

